.navbar-brand img {
  height: 40px;
}

.category-bar .nav-link {
  color: #d32f2f !important;
  transition: all 0.2s ease;
}

.nav-link-hover:hover {
  text-decoration: underline;
  color: #b71c1c !important;
  background-color: rgba(255, 0, 0, 0.05);
  border-radius: 5px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #ffe6e6;
  color: #d32f2f;
}
