.navbar-brand img {
  height: 40px;
}

.category-bar .nav-link {
  color: #00796b !important; /* Medium Teal */
  transition: all 0.2s ease;
}

.nav-link-hover:hover {
  text-decoration: underline;
  color: #004d40 !important; /* Darker Teal */
  background-color: rgba(0, 150, 136, 0.1); /* Light Teal Background */
  border-radius: 5px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #e0f2f1; /* Soft Teal */
  color: #00796b;
}
